.weather-image-container {
  margin-block-start: 40px;
}

.weather-image {
  width: 200px;
  height: 200px;
}


@media (max-width: 730px) {
    .weather-image {
        width: 100px;
        height: 100px;
      }
  }